.block-buttons {
    &.smaller-wrapper {
        .buttons-wrapper {
            @media(min-width: 1024px) {
                width: 72%;
                .button-item {
                    max-width: 300px;
                }
            }
        }
    }
}