.block-contact {
    .contact-form {
        .submit-button {
            @apply lg:py-[38px] lg:max-w-[600px] w-full py-4 font-extend font-medium text-cta bg-theme-black text-white text-center cursor-pointer;
        }
        .wpcf7-response-output {
            @apply lg:max-w-[600px] w-full m-0;
        }
        .box {
            @apply lg:max-w-[600px] w-full;
            // input.wpcf7-form-control {
            //     @apply ;
            // }
            .form-input-wrapper {
                @apply w-full py-[10px] text-theme-black px-[30px] border border-theme-black flex items-center placeholder:text-[rgba(23,23,25,.3)] outline-none;
            }
            .wpcf7-form-control-wrap {
                @apply flex flex-col mb-5;
            }
        }
        .wpcf7-response-output {
            margin-bottom: 1.25rem;
        }
    }
}