.block-spacer {
    width: 100%;
    // height: var(--default-height);
    height: var(--mobile-height, var(--default-height));
    @media(min-width: 768px) {
        height: var(--tablet-height, var(--default-height));
    }
    @media(min-width: 1024px) {
        height: var(--desktop-height, var(--default-height));
    }
    &.is-preview {
        background-color: rgba(0, 0, 0, 0.1019607843);
    }
}

.is-selected, .is-hovered {
    .block-spacer {
        background-color: rgba(0, 0, 0, 0.5);
    }
}