.block-tab-content {
    .tabs-button {
        @apply text-h3 font-medium cursor-pointer text-theme-black;
        &.active {
            @apply bg-theme-black;
            color: #fff;
        }
        @media(max-width: 1024px) {
            flex: 10 0 auto;
            min-width: 140px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // .swiper {
    //     @media(max-width: 1024px) {
    //         overflow: visible;
    //     }
    // }

    .tabs-button-wrapper {
        @media(max-width: 1024px) {
            overflow-x: auto;
        }
    }
    .choices {
        .choices__item {
            @apply text-h3;
        }
        &::after {
            border-width: 10px;
            right: 25px;
        }
        .choices__inner {
            background: transparent;
            border-color: #171719;
            padding-left: 20px;
        }
        .choices__list--dropdown, .choices__list[aria-expanded] {
            border-color: #171719;
            z-index: 9;
        }
        @apply lg:w-[300px];
    }
}