.block-text {
    a {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: #000;
            transition: .4s all ease;
        }

        &:hover::before {
            width: 0%;
            left: 100%;
        }
    }

    &.mobile-center * {
        @media(max-width: 768px) {
            text-align: center!important;
        }
    }
    &.mobile-left * {
        @media(max-width: 768px) {
            text-align: left!important;
        }
    }
    &.mobile-right * {
        @media(max-width: 768px) {
            text-align: right!important;
        }
    }
}