:root {
    --theme-linen: #F9F7F3;
    --theme-gold: #DAA65D;
    --theme-green: #183B2C;
    --theme-ivory: #F0EFEC;
    --theme-ash: #5E5E5E;
    --theme-silver: #9F9F9F;
    --theme-grey: #5e5e5e;
    --theme-gray: #5e5e5e;
}