h1 {
    @apply font-extend;
}

.text-h1 {
    font-size: 24px;
    line-height: 35px;
    @media(min-width: 1280px) {
        font-size: 50px;
        line-height: 70px;
    }
}

.text-h2 {
    font-size: 20px;
    line-height: 30px;
    @media(min-width: 1280px) {
        font-size: 40px;
        line-height: 60px;
    }
}

.text-h3 {
    font-size: 18px;
    line-height: 25px;
    @media(min-width: 1280px) {
        font-size: 30px;
        line-height: 50px;
    }
}
.text-body {
    font-size: 16px;
    line-height: 25px;
    @media(min-width: 1280px) {
        font-size: 24px;
        line-height: 40px;
    }
}
.text-body-secondary {
    font-size: 14px;
    line-height: 20px;
    @media(min-width: 1280px) {
        font-size: 20px;
        line-height: 30px;
    }
}
.text-cta-large {
    font-size: 16px;
    line-height: 1;
    @media(min-width: 1280px) {
        font-size: 26px;
        line-height: 1;
    }
}
.text-cta {
    font-size: 20px;
    line-height: 30px;
    @media(min-width: 1280px) {
        font-size: 20px;
        line-height: 30px;
    }
}
.text-menu-footer {
    font-size: 20px;
    line-height: 1;
    @media(min-width: 1280px) {
        font-size: 24px;
        line-height: 60px;
    }
}
.text-menu-header {
    font-size: 20px;
    line-height: 1;
    @media(min-width: 1280px) {
        font-size: 20px;
        line-height: 1;
    }
}
.text-button {
    font-size: 14px;
    line-height: 1;
    @media(min-width: 1280px) {
        font-size: 20px;
        line-height: 1;
    }
}
.text-button-secondary {
    font-size: 12px;
    line-height: 1;
    @media(min-width: 1280px) {
        font-size: 16px;
        line-height: 1;
    }
}
.text-caption-title {
    font-size: 24px;
    line-height: 30px;
    @media(min-width: 1280px) {
        font-size: 24px;
        line-height: 30px;
    }
}
.text-caption {
    font-size: 14px;
    line-height: 20px;
    @media(min-width: 1280px) {
        font-size: 16px;
        line-height: 40px;
    }
}
.text-caption-small {
    font-size: 12px;
    line-height: 10px;
    @media(min-width: 1280px) {
        font-size: 14px;
        line-height: 20px;
    }
}

// other

.text-large-1 {
    font-size: 50px;
    line-height: 60px;
    @media(min-width: 1280px) {
        font-size: 150px;
        line-height: 60px;
    }
}
.text-large-2 {
    font-size: 40px;
    line-height: 55px;
    @media(min-width: 1280px) {
        font-size: 80px;
        line-height: 60px;
    }
}
.text-large-3 {
    font-size: 80px;
    line-height: 60px;
    @media(min-width: 1280px) {
        font-size: 80px;
        line-height: 60px;
    }
}
.text-small {
    font-size: 12px;
    line-height: 40px;
    @media(min-width: 1280px) {
        font-size: 12px;
        line-height: 40px;
    }
}